{{!-- <form> --}}
<div>
    {{{log "hbs rendering started."}}}
    <h1>{{title}}</h1>
    <p>{{text}}</p>
    <h3>Input Box Text</h3>
    <p>{{inputBoxText}}</p>
    <input type="text" class="js-testTextSelector"/>
    <button type="button" data-action="testAction">Test Action</button>
    <button type="submit">Submit</button>
{{!-- </form> --}}
    
</div>